<manifest xmlns:android="http://schemas.android.com/apk/res/android"
        package="com.jpardogo.example.presentation">

    <application>
        <activity
                android:name=".feature.ExampleActivity"
                android:label="@string/title_activity_example">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
</manifest>
